<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible">
    <meta name="apple-mobile-web-app-capable" content="yes" user-scalable="no" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" src="/images/duel.jpg" />
    <link rel="apple-touch-icon" href="/images/duel.jpg">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/duel.jpg">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/duel.jpg">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/duel.jpg">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>ForHonor</title>
</head>

<body>
    <div id="app">
        <!--The div that applies vue to everything-->
        <nav class="nav nav-pills nav-fill fixed-bottom navbar-dark bg-dark">
            <a v-on:click="hideNshow('index')" class="nav-item nav-link iconsBig" data-target="index"><i class="fab fa-fort-awesome"></i></a>
            <a v-on:click="hideNshow('rulesHTML')" class="nav-item nav-link iconsBig" data-target="rulesHTML"><i class="fas fa-book"></i></a>
            <a v-on:click="hideNshow('scheduleHTML')" class="nav-item nav-link iconsBig" data-target="scheduleHTML"><i
                    class="fas fa-calendar-times"></i></a>
            <a v-on:click="hideNshow('contactHTML')" class="nav-item nav-link iconsBig" data-target="contactHTML"><i
                    class="fas fa-question-circle"></i></a>
            <a v-on:click="hideNshow('signInHTML')" class="nav-item nav-link iconsBig" data-target="signInHTML"><i
                    class="fas fa-sign-in-alt"></i></a>
        </nav>

        <div class="page active" id="index" v-if="active==='index'">
            <div class="headerImg fixed-top">
                <img src="/images/home_header.png" alt="homeHeader.jpg">
            </div>
            <div class="text_home">
                <h5>Welcome to For Honor!</h5>
            </div>
            <div class="container">
                <div class="homePage">
                    <div class="landscapeHome">
                        <a v-on:click="hideNshow('duelHTML')">
                            <div class="duelT">
                                <p class="categoryTxt">Duel <i class="fas fa-khanda"></i> Tournament</p>
                                <div class="duelTournament"></div>
                            </div>
                        </a>
                    </div>
                    <div class="landscapeHome">
                        <a v-on:click="hideNshow('brawlHTML')">
                            <div class="brawlT">
                                <p class="categoryTxt">Brawl <i class="fas fa-hands-helping"></i> Tournament</p>
                                <div class="brawlTournament"></div>
                            </div>
                        </a>
                    </div>
                    <div class="landscapeHome">
                        <a v-on:click="hideNshow('breachHTML')">
                            <div class="breachT">
                                <p class="categoryTxt">Breach <i class="fas fa-bolt"></i> Tournament</p>
                                <div class="breachTournament"></div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div class="buttonsIndex">
                <div class="players aboutTournament" v-on:click="hideNshow('playerInfoHTML','duel')">
                    <button>Players</button>
                </div>
                <div class="aboutTournament" v-on:click="hideNshow('media')">
                    <button id="learMore">Media</button>
                </div>
            </div>
        </div>

        <div class="page" id="media" v-if="active==='media'">
            <div class="headerImgContact fixed-top">
                <img src="/images/home_header.png" alt="homeHeader.jpg">
            </div>
            <div class="container mediaTournament">
                <h5>Previous tournaments and content</h5>
                <div class="mediaAlign">
                    <div class="mediaVideo">
                        <h6>The heroes</h6>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Aa4N_5CtUUc" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="mediaVideo">
                        <h6>Amazing Duels</h6>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-X2AIy9_CMA" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="mediaAlign mediaSpacing">
                    <div class="mediaVideo">
                        <h6>Fearsome Brawls</h6>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/fUfrDJoomws" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="mediaVideo">
                        <h6>Intensive Breach</h6>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/zysbrunmZPE" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="page" id="duelHTML" v-if="active==='duelHTML'">
            <div class="headerImgContact fixed-top">
                <img src="/images/duels_header.png" alt="duelHeader.jpg">
            </div>
            <div class="duelImage">
            </div>
            <div class="container">
                <div class="aboutTournamentTxt">
                    <h6>Show the world who the best warrior is. You and another will face off in a one on one
                        battle of
                        skill.</h6>
                </div>
                <div class="tournamentTxt">
                    <p>Duel is a 1v1 multiplayer game mode in For Honor, solely a battle of skill against skill. No
                        running
                        or hiding,
                        just two players battling to the death. Players who are not aware of their environment
                        can find
                        themselves backed
                        off or thrown from a cliff or wall, skewered on spikes or shoved into a fire. Every
                        round
                        starts in a different location,
                        so the environment will also be different.</p>
                    <p>Blocking, guard breaking, charging and the ability to quickly read your opponent are key in
                        this
                        quick, intense and
                        strategic style of gameplay. Players will not only need to change their style based on
                        the
                        class of character they play
                        but also the class they face.</p>
                </div>
                <a v-on:click="hideNshow('playerInfoHTML','duel')">
                    <div class="aboutTournamentButton">
                        <button type="button">Duel Players</button>
                    </div>
                </a>
            </div>
        </div>

        <div class="page" id="brawlHTML" v-if="active==='brawlHTML'">
            <div class="headerImgContact fixed-top">
                <img src="/images/brawl_header.png" alt="brawl_Header.jpg">
            </div>
            <div class="brawlImage"></div>

            <div class="container">
                <div class="aboutTournamentTxt">
                    <h6>You never have to fight alone. You and a partner will team up against two other opponents.</h6>
                </div>
                <div class="tournamentTxt">
                    <p>Brawl is a 2v2 mode in which each team of two players will need to kill the two enemy Heroes
                        to win a round. The players are put at opposite ends of the map and paired up against an
                        opponent.
                        From there it is up to them to decide how to defeat the enemy team..</p>
                    <p>A player can choose to double team on one enemy, or remain honorable by fighting their selected
                        opponent first before anything else. It is up the to player on what action they will take.
                        Skill,
                        awareness, cooperation and the capacity to use the environment to the player’s advantage are
                        key
                        components to victory.</p>
                </div>
                <a v-on:click="hideNshow('teamDetailsHTML')">
                    <div class="aboutTournamentButton">
                        <button @click="type = 'Brawl'" type="button">Brawl Teams</button>
                    </div>
                </a>
            </div>
        </div>

        <div class="page" id="breachHTML" v-if="active==='breachHTML'">
            <div class="headerImgContact fixed-top">
                <img src="/images/breach_header.png" alt="breachHeader.jpg">
            </div>
            <div class="breachImage">
            </div>

            <div class="container breachContainer">
                <div class="aboutTournamentTxt">
                    <h6>Attackers! Lay siege upon this fortress.</h6>
                    <h6>Defenders! Launch a counter attack to repel these invaders.</h6>
                </div>
                <div class="tournamentTxt">
                    <p>In this game mode, two teams fight for control of the battlefield by taking objectives and
                        eliminating
                        enemy players. There are three control points: one in the center and two at the sides.
                        One side is the
                        Attackers, who are in Orange, whereas the other is the Defenders, in Blue. Being an
                        Attacker or Defender
                        will mostly only change the intro and outro cut-scenes of each round.</p>
                    <p>At the start, a large group of soldiers will spawn and charge at the center control point.
                        Afterwards,
                        groups of soldiers will spawn regularly and do the same. The center control point is
                        arguably the most
                        difficult to capture as you need to first clear out enemy soldiers occupying it.Many
                        maps have traps such
                        as drawbridges and gates that can be used to kill enemies or otherwise block pathways.
                        Others have ballista
                        at the side control points.</p>
                </div>
                <a v-on:click="hideNshow('teamDetailsHTML2')">
                    <div class="aboutTournamentButton">
                        <button @click="type = 'Breach'" type="button">Breach Teams</button>
                    </div>
                </a>
            </div>
        </div>

        <div class="page" id="playerInfoHTML" v-show="active==='playerInfoHTML'">
            <div class="headerImgContact fixed-top">
                <img src="/images/players_header.png" alt="playersHeader.png">
            </div>
            <div class="container">
                <div class="backButton aboutTournament" v-on:click="hideNshow('index')">
                    <i class="fas fa-angle-left" @click="type = 'Brawl'"></i> <i class="fas fa-angle-left"></i>
                </div>
            </div>
            <div class="container backgroundPlayers" v-if="info">
                <div class="playerDiv" v-for="player in info.player" v-if="player.tournament==tournament && (player.team == 'false' || player.team == team.name)">
                    <div class="playerimg">
                        <img :src="player.avatar" alt="player.logo">
                        <p>Team</p>
                        <p>{{player.team}}</p>
                    </div>
                    <div class="detailsPl">
                        <div class="playerName">
                            <p>Name - {{player.name}}</p>
                        </div>
                        <div class="playerAge">
                            <p>Age - {{player.age}}</p>
                        </div>
                        <div class="nextOponent">
                            <p>City - {{player.city}}</p>
                        </div>
                        <div class="winRate">
                            <p>Win Rate - {{player.win_rate}}</p>
                        </div>
                        <div class="positionT">
                            <p>Position - {{player.position}}</p>
                        </div>
                        <div class="nextMatchDate">
                            <p>Date - {{player.next_match}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="backButton signOut">
                <i class="fas fa-angle-double-left"></i>
            </div>

        </div>

        <div class="page" id="playerInfoHTML2" v-show="active==='playerInfoHTML2'">
            <div class="headerImgContact fixed-top">
                <img src="/images/players_header.png" alt="playersHeader.png">
            </div>
            <div class="container">
                <div class="backButton aboutTournament" v-on:click="hideNshow('teamDetailsHTML2')">
                    <i class="fas fa-angle-left" @click="type ='Breach'"></i> <i class="fas fa-angle-left"></i>
                </div>
            </div>
            <div class="container backgroundPlayers" v-if="info">
                <div class="playerDiv" v-for="player in info.player" v-if="player.tournament==tournament && (player.team == 'false' || player.team == team.name)">
                    <div class="playerimg">
                        <img :src="player.avatar" alt="player.logo">
                        <p>Team</p>
                        <p>{{player.team}}</p>
                    </div>
                    <div class="detailsPl">
                        <div class="playerName">
                            <p>Name - {{player.name}}</p>
                        </div>
                        <div class="playerAge">
                            <p>Age - {{player.age}}</p>
                        </div>
                        <div class="nextOponent">
                            <p>City - {{player.city}}</p>
                        </div>
                        <div class="winRate">
                            <p>Win Rate - {{player.win_rate}}</p>
                        </div>
                        <div class="positionT">
                            <p>Position - {{player.position}}</p>
                        </div>
                        <div class="nextMatchDate">
                            <p>Date - {{player.next_match}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page" id="playerInfoHTML3" v-show="active==='playerInfoHTML3'">
            <div class="headerImgContact fixed-top">
                <img src="/images/players_header.png" alt="playersHeader.png">
            </div>
            <div class="container">
                <div class="backButton aboutTournament" v-on:click="hideNshow('teamDetailsHTML2')">
                    <i class="fas fa-angle-left" @click="type ='Brawl'"></i> <i class="fas fa-angle-left"></i>
                </div>
            </div>
            <div class="container backgroundPlayers" v-if="info">
                <div class="playerDiv" v-for="player in info.player" v-if="player.tournament==tournament && (player.team == 'false' || player.team == team.name)">
                    <div class="playerimg">
                        <img :src="player.avatar" alt="player.logo">
                        <p>Team</p>
                        <p>{{player.team}}</p>
                    </div>
                    <div class="detailsPl">
                        <div class="playerName">
                            <p>Name - {{player.name}}</p>
                        </div>
                        <div class="playerAge">
                            <p>Age - {{player.age}}</p>
                        </div>
                        <div class="nextOponent">
                            <p>City - {{player.city}}</p>
                        </div>
                        <div class="winRate">
                            <p>Win Rate - {{player.win_rate}}</p>
                        </div>
                        <div class="positionT">
                            <p>Position - {{player.position}}</p>
                        </div>
                        <div class="nextMatchDate">
                            <p>Date - {{player.next_match}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page" id="teamDetailsHTML" v-show="active==='teamDetailsHTML'">
            <div class="headerImgContact fixed-top">
                <img src="/images/template_header.png" alt="Header.png">
            </div>
            <div class="container">
                <div class="mainDivTeam" id="testDiv" v-if="info">
                    <!--Information generated by vue-->
                    <div class="group1" v-for="team in info.team" v-on:click="hideNshow('playerInfoHTML',type, team)">
                        <div class="team1" v-if="team.tournament == type">
                            <div class="aboutTournamentTxt">
                                <h6>{{team.name}}</h6>
                                <h6>Players: {{team.players}}</h6>
                            </div>
                            <div class="teamImage">
                                <img :src="team.logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page" id="teamDetailsHTML2" v-show="active==='teamDetailsHTML2'">
            <div class="headerImgContact fixed-top">
                <img src="/images/template_header.png" alt="Header.png">
            </div>
            <div class="container">
                <div class="mainDivTeam" id="testDiv" v-if="info">
                    <!--Information generated by vue-->
                    <div class="group1" v-for="team in info.team" v-on:click="hideNshow('playerInfoHTML3',type, team)">
                        <div class="team1" v-if="team.tournament == type">
                            <div class="aboutTournamentTxt">
                                <h6>{{team.name}}</h6>
                                <h6>Players: {{team.players}}</h6>
                            </div>
                            <div class="teamImage">
                                <img :src="team.logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page" id="rulesHTML" v-if="active==='rulesHTML'">
            <div class="headerImg fixed-top">
                <img src="/images/rules.jpg" alt="rulesHeader.jpg">
            </div>
            <div class="container rules">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-warnig" type="button" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    Overview
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5>Tournament Matches</h5>
                                <ul>
                                    <li>1 v 1 - Duel Tournament</li>
                                    <li>2 v 2 - Brawl Tournament</li>
                                    <li>4 v 4 - Breach Mode Tournament</li>
                                </ul>
                                <h5>Conditions applying to all modes!</h5>
                                <ul>
                                    <li>Best of 3 Maps</li>
                                    <li> Gear Stats Disabled</li>
                                    <li>Feats Enabled</li>
                                    <li>Map Rotation<ol>
                                            <li>The Shard</li>
                                            <li>Loser's Pick</li>
                                            <li>Loser's Pick</li>
                                        </ol>
                                    </li>
                                    <li>Overwatch, River Fort and Forge are globaly Banned</li>
                                    <li>No map can be played twice in a row</li>
                                </ul>
                                <p>It is strongly recommended that you take screenshots of all your scoreboards in case
                                    of
                                    a dispute. The default key for Uplay is F12. For the best match security you should
                                    stream or record your tournament run. Admin decisions are final.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    Main Rules
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5>Contacting Admins</h5>
                                <p>The primary way to contact an admin for support is with the 'Report Match Issue'
                                    button
                                    and the private chat on your Battlefy match page. For extra help you may also
                                    contact
                                    an admin in the Discord.</p>
                                <h5>Disconnects</h5>
                                <p>Each team is allowed 1 DC/bug/crash restart within the first minute of each map. The
                                    same map/heroes must be played in case of a restart but you may switch out a
                                    disconnecting player for a sub.
                                    For disconnects after the first minute you may try re-inviting a disconnected
                                    player
                                    through the Uplay overlay mid-game. If this does not work you must play out the Map
                                    with a bot. </p>
                                <h5>Match Crashes/Splits</h5>
                                <p>If the entire map crashes/splits and a single team is breaking, or there is a RAW
                                    100
                                    point (discluding the +100 from objectives), the leading team wins the map (provide
                                    screenshots in Discord for admin confirmation). If neither team has such an
                                    advantage,
                                    remake with the same map/heroes with a 10 minute time limit.
                                    If teams cannot connect to each other we may have to DQ both teams to keep the
                                    tournament moving forward</p>
                                <h5>Tournament CheckIn</h5>
                                <p>All players are required to check in on Battlefy at the start of the tournament to
                                    confirm you still wish to compete. Check in starts 30 minutes before match start
                                    time.
                                    If you do not check in on time you will not be added into the bracket. Brackets
                                    will
                                    not be redrawn.</p>
                                <h5>Match Check In Timer</h5>
                                <p>Teams will be asked to check in to each match. Once they do, if their opponents do
                                    not
                                    check in within the allotted time (10 minutes), the team that checked in will
                                    automatically get the win for the match and their opponents will be dropped from
                                    the
                                    tournament. Players must be present, have the latest game version installed, and
                                    have
                                    their hardware prepared at this time. If your opponents are checked in but are not
                                    ready to play within 10 minutes of the match start time please contact an admin.</p>
                                <h5>Roster</h5>
                                <p>All players must be declared as part of the team before check in.Team captains will
                                    be
                                    the main point of contact for tournament staff. Please change your Discord Nickname
                                    to
                                    your Uplay/Gamertag on the day of the tournament for smoother matchmaking and
                                    communication. Captains will be expected to remain in the Discord server for the
                                    duration of the tournament. A team may have up to 2 sub players as in case of
                                    disconnects or drop outs. These players must be registered to the team on
                                    Battlefy.If a
                                    player is replaced by a sub, they are replaced for the entire match.</p>
                                <h5>Lobies and Hosting</h5>
                                <p>The team captain from the top side of the bracket is responsible for adding the
                                    opposing
                                    captain on Uplay, inviting the opposing captain, and selecting the correct match
                                    settings. If both teams agree then either team can create the lobby. If players are
                                    having issues inviting each other, restart all Uplay clients and try again. If you
                                    are
                                    still having connection problems contact a tournament admin on Discord.If both
                                    teams
                                    still cannot connect to each other we may have to DQ both teams to keep the
                                    tournament
                                    moving forward.</p>
                                <h5>Bugs/Tech</h5>
                                <p>Due to the immense difficulty in policing bug use in on online tournament with
                                    simultaneous matches and their lowered effectiveness in team modes, it is likely
                                    that
                                    all tech available in the live game will be considered legal. Note: The Season 3
                                    patch
                                    notes state that Nobushi's Cobra Strike and Sidewinder unlocks have been fixed.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                    Dispute | Content Request | Afterword
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5>Disputes</h5>
                                <ul>
                                    <p>Disputes submitted by those who are NOT team captains will be ignored. Disputes
                                        must
                                        be submitted with evidence to support the claim, examples are:</p>
                                    <li>Wrong results (EG: screenshot of score screen)</li>
                                    <li>Wrong game settings (screenshot)</li>
                                    <li>Suspected cheating (Video evidence)</li>
                                    <li>Illegal team composition (screenshot)</li>
                                </ul>
                                <p>Admins decisions on disputes are final.</p>
                                <h5>Admins and Referees</h5>
                                <p>All participants must adhere to the decisions and rules of the tournament
                                    organizers,
                                    admins, and referees. All decisions are final. Conversations, either verbal or
                                    written,
                                    between organizers, admins, or referees, and participants are confidential.
                                    Publicly
                                    posting or sharing these conversations with outside parties is strictly forbidden,
                                    unless permission is obtained</p>
                                <h5>Content Request</h5>
                                <p>It would be much appreciated if video game capture such as shadow play or sharing
                                    options on console was enabled. If you have a cool clip be sure upload to youtube
                                    or
                                    any other video service as public or unlisted and send a link to the clip to
                                    /u/Dashu16
                                    on reddit or email him directly with a link at Dashu16@gmail.com . Footage will be
                                    condensed to highlight moments and other content of the best/worst/funniest plays
                                    of
                                    the tournament. Please include time stamps.</p>
                                <h5>Afterword</h5>
                                <p>The organisers of this event would like to take the time to thank you for entering
                                    this
                                    tournament and going through this document.We wish you the best of luck in the
                                    upcoming
                                    tournament!</p>
                                <h5>CAPTAINS CAN REPORT THEIR TEAM'S SCORE</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page" id="scheduleHTML" v-if="active==='scheduleHTML'">
            <div class="headerImgContact fixed-top">
                <img src="/images/schedule_header.png" alt="contactHeader.png">
            </div>

            <div class="aboutTournamentTxt scheduleMargin">
                <h6>1 v 1 - Duel Tournament </h6>
                <div class="avatarVS">
                    <div>
                        <a v-on:click="hideNshow('playerInfoHTML','duel')"> <img class="imageSize" src="/avatar/ouriel.jpg"></a>
                        <p>Ouriel</p>
                    </div>
                    <div class="vsText">
                        <h6>VS</h6>
                    </div>
                    <div class="avatar2">
                        <a v-on:click="hideNshow('playerInfoHTML','duel')"> <img class="imageSize" src="/avatar/the_game.jpg"></a>
                        <p>TheGame</p>
                    </div>
                </div>
                <p>Next Match <i class="fas fa-calendar-alt iconsBig"></i> Sunday 12th @ 17:00</p>
            </div>
            <div class="aboutTournamentTxt scheduleMargin brawlMargin">
                <h6>2 v 2 - Brawl Tournament </h6>
                <div class="avatarVS">
                    <div>
                        <a> <img class="imageSize" src="/avatar/ryukyuan.jpg"></a>
                        <p>Ryukyuan</p>
                    </div>
                    <div class="vsText">
                        <h6>VS</h6>
                    </div>
                    <div class="avatar2">
                        <a> <img class="imageSize" src="/avatar/fuckingfunction.jpg"></a>
                        <p>FuckingFunction</p>
                    </div>
                </div>
                <p>Next Match <i class="fas fa-calendar-alt iconsBig"></i> Monday 17th @ 13:00</p>
            </div>
            <div class="aboutTournamentTxt scheduleMargin breachMargin">
                <h6>4 v 4 - Breach Mode Tournament </h6>
                <div class="avatarVS">
                    <div>
                        <a v-on:click="hideNshow('teamDetailsHTML')"> <img class="imageSize" src="/avatar/panbiscochao.jpg"></a>
                        <p>Pan Bisc.</p>
                    </div>
                    <div class="vsText">
                        <h6>VS</h6>
                    </div>
                    <div class="avatar2">
                        <a v-on:click="hideNshow('teamDetailsHTML',)"> <img class="imageSize" src="/avatar/evilsupervisors.png"></a>
                        <p>Evil SuperV</p>
                    </div>
                </div>
                <p>Next Match <i class="fas fa-calendar-alt iconsBig"></i> Monday 16th @ 13:00</p>
            </div>
        </div>

        <div class="page" id="contactHTML" v-if="active==='contactHTML'">
            <div class="headerImgContact fixed-top">
                <img src="/images/contact_header.jpg" alt="contactHeader.jpg">
            </div>
            <div class="container">
                <div class="contactText">
                    <div class="landscapeContact">
                        <div class="fomrName1">
                            <i class="fas fa-user-alt userForm"></i> <input type="text" name="firstName" placeholder="Your Name">
                        </div>
                        <div class="formName2">
                            <i class="fas fa-envelope userForm"></i> <input type="text" name="email" placeholder="someone@mail.com">
                        </div>
                    </div>
                    <div class="formName3">
                        <p><i class="far fa-comment-alt userForm"></i>Your Issue here</p>
                        <textarea rows="10" cols="35" placeholder="Please explain your issue"></textarea>
                    </div>
                </div>
                <div class="contactButtonsLandscape">
                    <div class="container buttonContact">
                        <button type="button" @click="twoFn">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="page" id="signInHTML" v-show="active==='signInHTML'">
            <div class="headerImgContact fixed-top">
                <img src="/images/signin_header.png" alt="signInHeader.png">
            </div>
            <div class="container">
                <div class="positioningSignin">
                    <div class="contactText loginPosition" @click="login">
                        <div id="login" class="button is-info fuckingFlex">
                            <i class="fas fa-sign-in-alt signInIcons"></i>
                        </div>
                        <div>
                            <p>Log in to For Honor</p>
                        </div>
                    </div>
                </div>
                <div class="contactText loginPosition fuckingFlex" v-on:click="hideNshow('registerHTML')">
                    <i class="fas fa-user-plus signInIcons"></i>
                    <p>Register for next Tournament</p>
                </div>
            </div>
        </div>

        <div class="page" id="registerHTML" v-if="active==='registerHTML'">
            <div class="headerImgContact fixed-top">
                <img src="/images/register_header.png" alt="registerHeader.png">
            </div>
            <div class="container">
                <form action="" class="registrationTournament">
                    <div>
                        <input type="radio" name="tournament" value="duel" id=""> 1 v 1 - Duel <i class="fas fa-khanda iconsBig"></i>
                        Tournament
                    </div>
                    <div>
                        <input type="radio" name="tournament" value="brawl" id=""> 2 v 2 - Brawl <i class="fas fa-hands-helping iconsBig"></i>
                        Tournament
                    </div>
                    <div>
                        <input type="radio" name="tournament" value="breach" id=""> 4 v 4 - Breach <i class="fas fa-bolt iconsBig"></i>
                        Tournament
                    </div>
                </form>
            </div>

            <div class="registrationText">
                <div class="fomrName1">
                    <i class="fas fa-user-alt userForm"></i> <input type="text" name="firstName" placeholder="Your Name"
                        required>
                </div>
                <div class="formName2">
                    <i class="fas fa-envelope userForm"></i> <input type="text" name="email" placeholder="someone@mail.com"
                        required>
                </div>
                <div class="formName4">
                    <div>
                        <i class="fas fa-user-alt userForm"></i> Birth Date
                    </div>
                    <div>
                        <input type="date" value="2000-12-10" name="birthDate">
                    </div>
                </div>
            </div>

            <div class="container buttonContact">
                <button type="button" @click="twoFn">Submit</button>
            </div>
        </div>

        <div class="page" id="chatHTML" v-if="active==='chatHTML'">
            <div class="headerImgContact fixed-top">
                <img src="/images/template_header.png" alt="contactHeader.jpg">
            </div>
            <div class="container">
                <div class="signOut">
                    <i class="fas fa-user-times" @click="quit"></i>
                </div>
                <div class="chat">
                    <div id="posts" class="box">
                        <!--fix position-->
                        Loading posts...
                    </div>

                    <div class="inputs fuckingChat fixed-bottom">
                        <input id="textInput" class="input" type="text" placeholder="Your message...">
                        <button @click="writeNewPost" id="create-post" class="button is-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAlazz1t8IuNxtzMQCmuCHfNxxI0qRiMP0",
            authDomain: "forhonor-98295.firebaseapp.com",
            databaseURL: "https://forhonor-98295.firebaseio.com",
            projectId: "forhonor-98295",
            storageBucket: "forhonor-98295.appspot.com",
            messagingSenderId: "908585547941"
        };
        firebase.initializeApp(config);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="main.js"></script>
</body>

</html>